<div
  class="text-shadow-subtle"
  style={{
    fontFamily: "'Montserrat', sans-serif",
    textTransform: 'uppercase',
    fontSize: '1.5rem',
    lineHeight: '1.5rem',
  }}
>
  <span class="font-bold">Bardos</span> <br />
  Foundation
</div>

<style>
  .text-shadow-subtle {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
</style>
