html {
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #eee;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.below-header {
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.shadow-subtle {
  box-shadow: 0 0 76px rgba(0, 0, 0, 0.2);
}

.text-shadow-subtle {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.z-background {
  z-index: -1;
}
